<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" width="100%" height="100%">
        <br>
        <p> Lugar para poner barra de busqueda </p>
        <p> Compra en cuotas y sin tarjeta de credito </p>
        <ul>
            <li> <a href=""> Ofertas </a> </li>
            <li> <a href=""> Tiendas Oficiales </a></li>
            <li> <a href=""> Vender </a></li>
            <li> <a href=""> Ayuda </a></li>
            <br>
            <li> <a href=""> Crear tu cuenta </a> </li>
            <li> <a href=""> Ingresar </a></li>
            <li> <a href=""> Mis Compras </a></li>

        </ul>

    </header>
    <br>
    <main>


        <section>
            <h2> Seccion : Basado en la ultima visita</h2>
            <img src="images/img-cafetera-moulinex.jpg" width="100%" height="100%">
            <p>$6770</p>
            <p>40% Off</p>
            <p>Cafetera Moulinex</p>
            <br>
            <img src="images/img-macbook-pro-2019.jpg" width="100%" height="100%">
            <p>$230000</p>
            <p>20% Off</p>
            <p>MacBook Pro 2019</p>
            <br>
            <img src="images/img-samsung-galaxy-s10.jpg" width="100%" height="100%">
            <p>$70500</p>
            <p>10% Off</p>
            <p>Samsung Galaxy S10</p>
            <br>
            <img src="images/img-tv-samsung-smart.jpg" width="100%" height="100%">
            <p>$23200</p>
            <p>5% Off</p>
            <p>Smart Tv Samsung 43"</p>
        </section>

        <section>
            <h2> Seccion de Ofertas</h2>
            <img src="images/img-cafetera-moulinex.jpg" width="100%" height="100%">
            <p>$6770</p>
            <p>40% Off</p>
            <p>Cafetera Moulinex</p>
            <br>
            <img src="images/img-macbook-pro-2019.jpg" width="100%" height="100%">
            <p>$230000</p>
            <p>20% Off</p>
            <p>MacBook Pro 2019</p>
            <br>
            <img src="images/img-samsung-galaxy-s10.jpg" width="100%" height="100%">
            <p>$70500</p>
            <p>10% Off</p>
            <p>Samsung Galaxy S10</p>
            <br>
            <img src="images/img-tv-samsung-smart.jpg" width="100%" height="100%">
            <p>$23200</p>
            <p>5% Off</p>
            <p>Smart Tv Samsung 43"</p>
        </section>




    </main>
    <br>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>





        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>




    </footer>
</body>

</html>