header {
    background-color: #EAC926;
}

body {
    font-family: 'Roboto', sans-serif;

}

.titulares {
    font-size: 24px;
}

.precio {
    font-size: 18px;
}

.dyd {
    font-size: 16px;
}

.texto {
    font-size: 12px;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
}

.centrado {
    text-align: center;

}

.copy {
    font-size: 12px;
}

nav {
    display: inline;
}

.lista {
    padding: 0px;
}

.burger-menu {
    text-align: center;
}

.footer i {
    color: blue
}

div button {
    margin: 0 auto;
    color: white;
    background-color: blue;
    border-radius: 6px;
    border: #1259c3;
    padding: 12px
}

#chacho {
    display: flex;
    justify-content: center;
    align-items: center;

}

#compracuotas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconos {
    display: inline;
}

.buscar input {
    width: 300px;
    height: 25px;
    font-size: small;
    color: black;
    outline: blue;
    border: 2px solid #000080;
    border-radius: 20px;
}