header {
    background-color: #EAC926;
}

body {
    font-family: 'Roboto', sans-serif;

}

.titulares {
    font-size: 24px;
}

.precio {
    font-size: 18px;
}

.dyd {
    font-size: 16px;
}

.texto {
    font-size: 12px;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
}

.centrado {
    text-align: center;

}

.copy {
    font-size: 12px;
}

nav {
    display: inline;
}

.lista {
    padding-left: 5px;
    

}

.burger-menu {
    text-align: center;
    
}

.footer i {
    color: #03264c
}

#menu {
    margin: 0 auto;
    color: white;
    background-color: #03264c;
    border-radius: 6px;
    border: #03264c;
    padding: 12px;
    margin-bottom: 5px;
}

#chacho {
    display: flex;
    justify-content: center;
    align-items: center;

}

#compracuotas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconos {
    display: inline;
}

.buscar input {
    display: inline;
    width: 300px;
    height: 25px;
    font-size: small;
    color: black;
    outline: #03264c;
    border: 1px solid #03264c;
    border-radius: 20px;
   
    
}
#lupa{

    display: inline;
    border: 1px solid #03264c;
    border-radius: 20px;
  

}
nav {
    padding-left: 5px;
}
margin {
   color: #EAC926;
}
.buscar{
    padding-left: 5px;
}